*{
  box-sizing: border-box;
}
.flex-container{
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
li{
  display: inline-block;
}
.heading{
  width: 33%;
  background-color: aqua;
  border: 1px solid black;
}
.textarea {
  width: 33%;
}
textarea {
  width: 100%;
  border: 1px solid rgb(147, 250, 182); 
  resize: none;
  height: 50vh;
}
.btn {
  padding: 10px;
}

iframe{
  width: 100%;
}